{% extends "../layouts/base.njk" %}

{% set title = "404" %}
{% set companyName = "MightyVers Software" %}
{% set currentYear = "2026" %}


{% block aside %}
    {# <p>Status</p>
    <ul>
        <li>404</li>
    </ul> #}
     <h1>
        {{ title }} 
    </h1>
{% endblock %}

{% block content %}
    {% include "../partials/error-card.njk" %}
{% endblock %}