{% extends "../layouts/base.njk" %}

{% set title = "404 Not Found" %}
{% set code = "404" %}
{% set backActionUrl = "https://www.mightyvers.com" %}
{% set navMessage = "Not found." %}
{% set bodyMessage = "Not found." %}
{% set companyName = "MightyVers Software" %}
{% set currentYear = "2026" %}


{% block aside %}

     <h1>
        {{ code }} 
    </h1>


    
{% endblock %}

{% block content %}
    {% include "../partials/error-card.njk" %}
{% endblock %}