<section class="error-card">

    <div class="image-container">
          <a href="{{backActionUrl}}" title="Back to MightyVers.com">
            {% include "../partials/logo-svg.njk" %}
            </a>
    </div>
     <p class='title'>
        {{ code }} <span>{{bodyMessage}}</span>
    </p>

{# 
    <p>
        {{ message }} 
    </p> #}

</section>