<section class="error-card">

    {# <span class="error-code">
        {{ code }} 
    </span> #}

   
    <div class="image-container">
          <img src="./assets/images/mightyvers_logo_black.svg" width="900" class="logo"/> 
    </div>
     <p class='title'>
        {{ title }} <span>Page not found.</span>
    </p>

  

    <p>
        {{ message }} 
    </p>

</section>