

    <div class="footer__inner">

        <p>
             {{ companyName }} &copy; {{ currentYear }}
    
        </p>
{# 
        {% if supportUrl %}
            <a href="{{ supportUrl }}">
                Support
            </a>
        {% endif %} #}

    </div>
