$bright: #ffef88;
$green: #bffcb1;
$orange: #d77003;

$white: #ffffff;
$black: #222222;

// Semantic colors
$bg: $white;
$text: $black;

$primary: $green;
$secondary: $bright;
$danger: $orange;

$border: rgba($black, 0.1);
$muted: rgba($black, 0.65);

// Fonts
$font-sans: "Poppins", sans-serif;
$font-heading: "Montserrat", sans-serif;

// Layout
$nav-height: 72px;
$footer-height: 80px;
$sidebar-width: 30%;