
@use "base/fonts";
@use "base/variables";
@use "base/reset";
@use "base/typography";
@use "base/layout";
@use "components/code";



.error--404 {
  .error-code {

  }
}

.error--500 {
  .error-code {

  }
}


.error-card{
  .title{
    padding-left: 15px;
    font-size: 2rem;
    span{

    }
  }

  .image-container{
    position: relative;
    overflow: hidden;
    max-height: 170px;
      .logo{
        max-width: 400px;
        position: relative;
      } 
  }

}